html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  overflow-x: hidden;
  height: 100vh; }

body {
  font-family: 'Montserrat', sans-serif; }

.header {
  height: 100vh;
  width: 100vw;
  background-image: url("/img/hero.png");
  background-size: cover; }
  .header__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; }
  .header__logo {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__hamburgericon {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    widows: 5%;
    height: 5%;
    z-index: 10; }
    .header__hamburgericon:hover {
      cursor: pointer; }
  .header__arrowdown {
    height: 3vw;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%); }

.nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #EBEBEB;
  z-index: 3;
  text-align: center;
  transform: translateX(100%);
  transition: all 1s ease-in-out; }
  .nav__list {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    list-style: none;
    display: inline-block;
    text-align: left; }
  .nav__item {
    padding-top: 0.3em;
    font-size: 5.5em;
    font-weight: 700; }
    .nav__item:hover {
      cursor: pointer; }
    .nav__item:hover:after {
      width: 100%;
      left: 0;
      background: #000;
      cursor: pointer; }
    .nav__item:after {
      content: '';
      position: absolute;
      width: 0;
      height: 10px;
      display: block;
      margin-top: 5px;
      left: 0;
      background: #000;
      transition: width .5s ease; }
  .nav__logo {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.5em;
    width: 6em; }
  .nav--active {
    transform: translateX(0); }
  .nav__social {
    position: absolute;
    bottom: 1rem;
    display: inline;
    width: 4rem; }
    .nav__social:hover {
      cursor: pointer; }
    .nav__social--1 {
      left: 1rem; }
    .nav__social--2 {
      left: 6rem; }
    .nav__social--3 {
      left: 11rem; }
